.container {
  width: 600px;
  margin: 30px auto;
  display: block;
  padding: 10px 50px 50px;
  text-align: left;

  border-radius: 10px;
  /* background-color: red; */
}
h2 {
  margin-left: 5%;
}

input {
  color: white;
  background-color: #191e23;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  margin: 5% 5%;
  width: 40%;
  border: none;
  border-bottom: 1px solid #4e5966;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #82d8d8;
}

input[type='submit'] {
  width: 90%;
  display: block;
  margin: 5%;
  margin-top: 10%;
  border: 1px solid #82d8d8;
}

input[type='button'] {
  width: 90%;
  display: block;
  margin: 5%;
  margin-top: 10%;
  border: 1px solid #ff4f4f;
}

.container p {
  width: 90%;
  margin: 5%;
  margin-top: 10%;
}

.error {
  color: #ff4f4f;
}

.success {
  color: #82d8d8;
}

@media (max-width: 767px) {
  input {
    display: block;
    margin: 5% 5%;
    width: 90%;
  }
}
