.container {
  /* width: 100%; */
  height: 100%;
  /* margin: 30px auto; */
  /* display: block; */
  padding: 5% 30%;
  text-align: left;
}

.container h2 {
  margin-left: 5%;
}

.container input {
  /* color: white;
  background-color: #191e23;
  font-size: 18px;*/
  padding: 10px 10px 10px 5px;
  margin: 5% 5%;
  width: 40%;
  /* border: none;
  border-bottom: 1px solid #4e5966; */
}

.container input[type='submit'] {
  width: 90%;
  display: block;
  margin: 5%;
  margin-top: 10%;
  border: 1px solid #82d8d8;
  border-radius: 6rem;
}

.container input[type='button'] {
  width: 90%;
  display: block;
  margin: 5%;
  margin-top: 10%;
  border: 1px solid #ff4f4f;
  border-radius: 6rem;
}

.container p {
  width: 90%;
  margin: 5%;
  margin-top: 10%;
}

.container .error {
  color: #ff4f4f;
}

.container .success {
  color: #82d8d8;
}

@media (max-width: 767px) {
  .container {
    padding: 10px 10%;
  }
  .container input {
    display: block;
    margin: 5% 5%;
    width: 90%;
  }
}
